params {
    sample_id = 1
    run_id = 1
    testing = ""
    help = ""
    publish_dir = ""
}

profiles {
    local {
        process {
            executor = 'local'
        }
        docker {
            enabled = true
            fixOwnership = true
        }
        env.WORKSPACE = 'offline'
        params.container_prefix = 'lhr.ocir.io/lrbvkel2wjot'
    }

    testing {
        docker {
            enabled = true
            fixOwnership = true
        }
        params {
            testing = "true"
            container_prefix = 'lhr.ocir.io/lrbvkel2wjot'
        }
        process.debug = true
        env.WORKSPACE = 'offline'
    }

    mini {
        process {
            executor = "k8s"
        }
        k8s {
            workDir = "/workspace"
            namespace = 'default'

            serviceAccount = 'default'
            computeResourceType = 'Job'
            storageClaimName = 'standard'
            storageMountPath = '/workspace'
        }
    }

    kubernetes {
        params.container_prefix = 'lhr.ocir.io/lr3yhdniv6gu'
        k8s {
            workDir = '/workspace'
            namespace = 'default'

            serviceAccount = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
            launchDir = '/workspace/runs'
            projectDir = '/workspace/project'
            pod = [
                [privileged: true],
                [secret: 'nextflow-api-key-secret', mountPath: '/etc/nextflow-api-key'],
                [imagePullSecret: 'ocirsecret'],
                [hostPath: '/buckets', mountPath: '/workspace/buckets'],
                [annotation: 'cluster-autoscaler.kubernetes.io/safe-to-evict', value: 'false'],
                [
                    affinity: [
                        podAffinity: [
                            requiredDuringSchedulingIgnoredDuringExecution: [
                                [
                                    labelSelector: [
                                        matchExpressions: [
                                            [key: 'mounter-ready', operator: 'In', values: ['true']]
                                        ]
                                    ],
                                    topologyKey: 'kubernetes.io/hostname',
                                ]
                            ]
                        ]
                    ]
                ],
            ]
            fetchNodeName = true
            maxErrorRetry = 4
        }
        docker.enabled = true
        process.executor = 'k8s'
    }
}
