/*
if ("$EXECUTOR" != 'k8s') {
  executor = "local"
  workDir = "./workspace"
} else {
  executor = "k8s"
  workDir = "/workspace"
}

process {
   executor = executor
}
*/

params {
    help = ''
    sample_reads = ''
    species = 'tb'
    api_url = ''
}
profiles {
    kubernetes {}
    docker {
        process.executer = 'local'
        docker.enabled = true
        fixOwnership = true
        docker.runOptions = "-u \$(id -u):\$(id -g) --network host"
        process.cpus = 6
        process.memory = "16GB"
        docker.registry = "lhr.ocir.io"
        docker.sudo = true
        process.container = "lhr.ocir.io/lrbvkel2wjot/oxfordmmm/clockwork:latest"
        params.uploads_bucket = "${projectDir}/data/uploads"
        params.inputs_bucket = "${projectDir}/data/inputs"
        params.outputs_bucket = "${projectDir}/data/outputs"
        params.relatedness_bucket = "${projectDir}/data/relatedness"
        params.knowledge_bucket = "${projectDir}/data/knowledge"
    }
}