process.cpus = 1

docker {
    enabled = true
    temp = 'auto'
}

profiles {
    local {
        process {
            executor = 'local'
            cpus = 1
            memory = "16GB"
        }
        docker {
            enabled = true
            runOptions = "--network host"
            registry = "lhr.ocir.io"
        }
        fixOwnership = true
        env.WORKSPACE = 'offline'
    }
}